* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f0f2f1;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor_tarjeta {
    margin: 20px;
}

.contenedor_tarjeta:hover .figure {
    -webkit-transform: perspective(600px) rotateY(180deg);
    -ms-transform: perspective(600px) rotateY(180deg);
    -o-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);

    -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.4);
}

.contenedor_tarjeta a {
    display: inline-block;
}

.figure {
    width: 300px;
    height: 350px;
    margin: 0;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}

.figure .frontal,
.figure .trasera {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all ease .5s;
}

.figure .frontal {
    display: block;
    /* backface-visibility: hidden; */
}

.figure .trasera {
    position: absolute;
    top: 0;
    padding: 20px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
}

.contenedor_tarjeta:nth-child(1) .figure .trasera {
    background: linear-gradient(to right, rgba(169, 221, 158, 0.62) 0%, rgba(161, 153, 166, 0.44) 100%);
}

.contenedor_tarjeta:nth-child(2) .figure .trasera {
    background: linear-gradient(to right, rgba(196, 192, 68, 0.46) 0%, rgba(157, 223, 157, 0.56) 100%);
}

.contenedor_tarjeta:nth-child(3) .figure .trasera {
    background: linear-gradient(to right, #7CB3BF85, #D1913C8A);
}

.contenedor_tarjeta:nth-child(4) .figure .trasera {}

.contenedor_tarjeta:nth-child(5) .figure .trasera {}

.contenedor_tarjeta:nth-child(6) .figure .trasera {
    background: linear-gradient(to right, #64f38c5e, #f79d0075);
}

.figure .trasera .title {
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
}

.figure .trasera .line {
    height: 2px;
    background: #fff;
    border: none;
    margin-bottom: 20px;
    opacity: .5;
}

.figure .trasera .paragraph {
    font-weight: 300;
    line-height: 22px;
    font-size: 17px;
}

/* responsive */
@media screen and (max-width:800px){
    .figure .trasera{
        backface-visibility: visible;
        transform: perspective(600px) rotateY(0deg);
    }
    .contenedor_tarjeta:hover .figure{
        transform: perspective(600px) rotateY(0deg);
    }
}